

.artistes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
    
}
 
.card {
    background-color : white;
    border: solid;
    padding: 20px;
    margin: 10px;
    height: 300px;
    width: 250px;
    transition: 0.05s;
}

h3.name {
    color: #121212;
    display: flex;
    justify-content: center;
    margin-bottom: 0;
    
}

.card .display {
    opacity: 0;
    display: flex;
    align-content: space-around;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    margin: 0;
}

.card:hover .display {
    opacity: 1;
    color: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    transition: 2s;
    margin: 0;
}

.card:hover .display p{
    margin: 0;
}
p.name{
    display: flex;
    justify-content: center;
    color: #121212;
}

img{
    border: solid;
    border-color: #121212;
    display: flex;
    justify-content: center;
}

.card:hover {
    transform:scale(1.050);
    height: 50%; 
    transition: 1s;
}

.display form input{
    width: 100px;
}

.btn-search{
    opacity: 0;
}

.info{
    margin-top: 15px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}