.artistes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
 
.card {
    background-color : white;
    border: solid;
    padding: 20px;
    margin: 10px;
}
p.name{
    display: flex;
    justify-content: center;
}

img{
    border: solid;
}