p, h1{
    margin: 0;
}

.display {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img{
    width: 200px;
    height: 200px;
    border: solid;
    border-color: #121212;
    filter: drop-shadow(10px 10px 4px #353548);
}

.localiation{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 800px;
}

.lieux{
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    flex-direction: column;
    align-items: center;
}

.date {
    display: flex;
    width: 220px;
    flex-wrap: wrap;
    justify-content: center;
}

.date p {
    margin-right: 7px;
}