p, h1{
    display: flex;
    margin: 0;
    justify-content: space-around;
}

.display {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img{
    width: 200px;
    height: 200px;
    border: solid;
    border-color: #121212;
    filter: drop-shadow(10px 10px 4px #353548);
}

.localisation{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.lieux{
    border: solid;
    background-color: rgb(207, 250, 251);;
    margin-top: 30px;
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    flex-direction: column;
    align-items: center;
    filter: drop-shadow(7px 7px 4px #353548);
    padding: 5px;
}

.date {
    display: flex;
    width: 220px;
    flex-wrap: wrap;
    justify-content: center;
}

.date p {
    margin-right: 7px;
}
.groupe{
    margin-left: 50px;
    margin-right: 50px;
}

h1{
    color: rgb(225, 160, 54);
}