.location{
    display: flex;
    border-radius: 10px;
    z-index: 5;
    flex-wrap: wrap;
    max-width: 900px;
    justify-content: center;
}
.display{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.idValue{
    opacity: 0;
    width: 1px;
    height: 1px;
}


p, h3{
    margin: 0;
    padding-left:  15px;
    font-size: large;
}

.ville{
    display: flex;
    flex-wrap: wrap;
}

.bouton{
    background-color: #2d8ddb;
    border-radius: 10px;
    border: none;
    color: rgb(227, 224, 224);
    padding: 10px 20px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-size: large;
}

h3 {
    display: flex;
    justify-content: space-around;
}

