* {
    padding: 0;
	text-decoration: none;
	list-style: none;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(90deg ,hsl(279, 100%, 46%) 15%, #2b94e5 100%);
    height: 43rem;
    margin-top: 100px;
}

header {
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100px;
    width: 100%;
    top: 0;
    backdrop-filter: blur(5px);
}

label, #toggle {
    display: none;
}

.nav {
	height: 100px;
    width: 100%;
	display: flex;
	justify-content: center;
	box-sizing: border-box;
	align-items: center;
    position: sticky;
    top: 0;
}

.nav-id {
    width: 100%;
}

.nav ul {
    display: flex;
    flex-direction: row;
}

.nav ul .btn-nav {
    margin: 0 25px;
    font-size: 20px;
    color: #616161;
    
}

.nav ul .btn-nav:hover a {
    color: #ffffff;
	transition: 0.3s;
}

.information {
    display: flex;
    margin-top: 10vh;
    align-items: center;    
    justify-content: center;
    flex-direction: column;
    color: #ffffff;
}

.credit{
    display: flex;
    flex-direction: row;
    color: #ffffff;
    background-color: #000000;
    justify-content: flex-end;
    position: absolute;
    bottom: 0;
    width: 100%;
}
/* Artiste page */
main {
    display: flex;
    flex-direction:row;
    gap: 100px;
    align-items: center;
    justify-content: center;
}

.errorMsg{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
}