* {
    padding: 0;
	text-decoration: none;
	list-style: none;
    font-family: 'Poppins', sans-serif;
}

body {
    background: rgb(103, 104, 105);
    margin:0px;
    margin-top: 70px;
    bottom: 0;
}

header {
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 60px;
    width: 100%;
    top: 0;
    background-color:#3f3e3e;
    backdrop-filter: blur(5px);
    z-index: 999;
    
}

/* label, #toggle {
    display: none;
} */

.nav {
	height: 100px;
    width: 100%;
	display: flex;
	justify-content: center;
	box-sizing: border-box;
	align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
}

.nav-id {
    width: 100%;
}

.nav ul {
    display: flex;
    flex-direction: row;
}

.nav ul .btn-nav a {
    margin: 0 25px;
    font-size: 20px;
    color: rgb(107, 189, 190);
    
}

.nav ul .btn-nav:hover a {
    color: #ffffff;
	transition: 0.3s;
}

.information {
    display: flex;
    margin-top: 10vh;
    align-items: center;    
    justify-content: center;
    flex-direction: column;
    color: #ffffff;
}

footer{
    display: flex;
    flex-direction: row;
    color: #ffffff;
    background-color: #3f3e3e;
    justify-content: flex-end;
    position: fixed;
    bottom: 0;
    width: -webkit-fill-available;
    height: 30px;
}
/* Artiste page */
main {
    display: flex;
    flex-direction:row;
    gap: 100px;
    align-items: center;
    justify-content: center;
}

.errorMsg{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
}